<div class="container">
    <div class="main__header">
        <img class="main__img" src="assets/img/S67x.gif" />
        <div class="main__about about">
            <h1 class="about__header">О нас</h1>
            <p class="about__text">
                Данное приложение помогает найти самые дешевые авиабилеты из любой точки мира. А также произвести поиск самых
                популярных направлений из любой точки мира. Заказать билеты, выбрав способ оплаты.
            </p>
        </div>
    </div>
    <hr class="main__line">

    <div class="main__attention">
            Обращаем Ваше внимание!
            Город вводится на русском языке.
    </div>
    <hr class="main__line">
    <div class="main__pay-forms pay-forms">
        <h1 class="pay-forms__header">Формы оплаты</h1>
        <p class="pay-forms__text">
        Для оплаты Бронирования можно использовать любую форму оплаты, доступную на сайте. При этом Ваши персональные данные могут передаваться организациям –
            партнерам приложения в целях осуществления платежей с использованием выбранной формы оплаты и оформления 
            авиабилета.
        </p>
    </div>    
</div>
