<table class="table avia-list-table">
    <thead class="avia-list-table__header">
        <tr>
            <th class="avia-list-table__cell">Место отправления</th>
            <th class="avia-list-table__cell">Место прибытия</th>
            <th class="avia-list-table__cell">Дата вылета</th>
            <th class="avia-list-table__cell">Дата прибытия</th>
            <th class="avia-list-table__cell">Цена</th>
        </tr>
    </thead>
    <tbody class="avia-list-table__body">
        <tr class="avia-list-table__info"> 
            <td class="avia-list-table__cell">{{localStoragevalue.origin }}</td>
            <td class="avia-list-table__cell">{{localStoragevalue.destination }}</td>
            <td class="avia-list-table__cell">
                <p>{{localStoragevalue.departure_at.substr(0, 10)}}</p>
                <p>{{localStoragevalue.departure_at.substr(11, 5)}}</p>
            </td>
            <td class="avia-list-table__cell">
                <p>{{localStoragevalue.return_at.substr(0, 10)}}</p>
                <p>{{localStoragevalue.return_at.substr(11, 5)}}</p>
            </td>
            <td class="avia-list-table__cell">{{localStoragevalue.price | currency}} </td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="fly-check__quantity">
                    <div class="fly-check__quantity-value"> <span>{{quantatyCheckedFly}} </span> шт. </div> 
                    <add-quantity-ticket-comp (onChanged)="change($event)"></add-quantity-ticket-comp>
                    <div class="fly-check__price"> Итоговая цена: <span>{{changedPrice | currency}} </span></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <button type="button" (click)="deleteFromBasket(localStoragevalue)"   class="avia-list-table__button-info">
                Удалить из корзины </button>
            </td>
        </tr>
    </tbody>
</table> 