:host {
    display: block;
    padding-left: 70px;
    padding-right: 70px;
}

.start__header {
    padding-top: 53px;
    margin-bottom: 314px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.start__forma {
    width: 403px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    border: 4px solid white;
    padding: 10px;
    font-size: 25px;
    color: white;
}

.form-group_below {
    margin-top: 30px;
}
.form-control {
    font-size: 14px;
}

.form-group_button {
    color: white;
    background-color: rgb(63, 81, 181);
    border: none;
}
p {
    width: 487px;
    font-size: 20px;
}