<table class="table avia-list-table">
    <thead class="avia-list-table__header">
        <tr>
            <th class="avia-list-table__cell">Место отправления</th>
            <th class="avia-list-table__cell">Место прибытия</th>
            <th class="avia-list-table__cell">Дата вылета</th>
            <th class="avia-list-table__cell">Дата прибытия</th>
            <th class="avia-list-table__cell">Цена</th>
        </tr>
    </thead>
    <tbody class="avia-list-table__body">
        <tr>
            <td class="avia-list-table__cell">{{fly.origin}}</td>
            <td class="avia-list-table__cell">{{fly.destination}}</td>
            <td class="avia-list-table__cell">{{fly.departure_at}}</td>
            <td class="avia-list-table__cell">{{fly.return_at}}</td>
            <td class="avia-list-table__cell">{{fly.price}} USD <button (click)="addTicketToCart(fly)" type="button" class="avia-list-table__button">add</button></td>
        </tr>
        <tr>
            <td colspan="5">
                <a [routerLink]="['/item', 
                {
                                'origin': fly.origin, 
                                'destination': fly.destination,
                                'departure_at': fly.departure_at,
                                'return_at': fly.return_at,
                                'price': fly.price 
                              }]" target="_blank">

              <!-- <a [routerLink]="['item']"
              [queryParams]="{
                              'origin': fly.origin, 
                              'destination': fly.destination,
                              'departure_at': fly.departure_at,
                              'return_at': fly.return_at,
                              'price': fly.price 
                            }" target="_blank"> -->
                <button type="button"  (click)="addInfoInService(fly)" class="avia-list-table__button-info" >
                Полная информация</button>
              </a>
            </td>
        </tr>
    </tbody>
</table> 