* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: beige;
  padding: .5rem;
  background: repeat url(https://klv-oboi.by/img/gallery/56/thumbs/25289-730.jpg);
}
/* .container {
  width: 1400px;
  margin: 0 auto;
} */
