:host {
    display: block;
    margin-top: 28px;
}
.avia-list-table {
    width: 100%;
}
.avia-list-table__header {
    background: darkgray;
}
.avia-list-table__cell {
    text-align: center;
}
.avia-list-table__body {
    border: 2px solid darkgray;
} 
.avia-list-table__button {
    color: white;
        background-color: rgb(63, 81, 181);
        border: none;
}
.avia-list-table__button-info {
    display: block;
    width: 134px;
    height: 50px;
    margin: 0 auto;
}
